body {
    background-color: cornflowerblue
    }
    h1 {color:ghostwhite; font-size:40px; text-align: center;}
    #fotnot {
        display: flex;
        justify-content: space-around;
    }
    